<div class="row">
  
  <div class="col-md-3">
    <%= image_tag "ht1.png", class: "img-fluid" %>

    <h1 class="the_underline mt-3" align="center">01</h1>
    <h3 align="center">Discover Products</h3>
    <h5 align="center">Select from a range of handpicked fashion products.</h5>
  </div>

  <div class="col-md-3">
    <%= image_tag "ht2.png", class: "img-fluid" %>

    <h1 class="the_underline mt-3" align="center">02</h1>
    <h3 align="center">Request Products</h3>
    <h5 align="center">Pick the time and the place that best fits your busy schedule.</h5>
  </div>

  <div class="col-md-3">
    <%= image_tag "ht3.png", class: "img-fluid" %>

    <h1 class="the_underline mt-3" align="center">03</h1>
    <h3 align="center">Relax & Wait</h3>
    <h5 align="center">Your product is brought to you at your convenience by your local AlleyCat.</h5>
  </div>

  <div class="col-md-3">
    <%= image_tag "ht4.png", class: "img-fluid" %>

    <h1 class="the_underline mt-3" align="center">04</h1>
    <h3 align="center">Try & Buy</h3>
    <h5 align="center">Try products while your AlleyCat waits outside. Buy or not, you decide.</h5>
  </div>

</div>